
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39, 39, 39, 0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p{
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid #fff;
}
.nav-menu-btn{
    display: none;
}

    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -55em;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: #fff;
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }

.free-block{
      position: relative;
      bottom:3em;
      display: block;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(20px);
      width: 20em;
      height: 30em;
      padding:2em;
      margin: 10em;
    }

.top-free-block{
  position: absolute;
  background-color: grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.top-free-block p{
  color: black;
  font-size: 25px;
}


.sub-block{
    position: relative;
    bottom:3em;
    display: block;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(20px);
    width: 20em;
    height: 30em;
    padding:2em;
    margin: 10em;
}

.top-sub-block{
  position: absolute;
  background-color: gold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-sub-block p{
  color: yellow;
  font-size: 25px;
}

.owned{
  border: 3px solid #00ff00;
}
