*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    flex-direction: column;
}

.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.nav{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-logo{
    display: flex;
    padding: 0;
    margin : 0;
    height: 100%;
}

.nav-logo img{
    height: 100%;
    cursor: pointer;
}

.nav-menu{
    display: flex;
}

.nav .menu-profile-picture{
    display : flex;
    height: 100%;
    margin-right: 20px;
}
.nav .menu-profile-picture img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.nav .menu-btn {
    display: inline-block;
    cursor: pointer;
    align-items: center;
}

.bar1, .bar2, .bar3 {
    width: 70px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.70s;
}

.responsive .bar1 {
    transform: translate(0px, 20px) rotate(45deg);
}
.responsive .bar2 {
    transform: translate(-70px, 0);
    opacity: 0;
}
.responsive .bar3 {
    transform: translate(0px, -20px) rotate(-45deg); /*translate(0, 0px) */
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn{
    display: none;
}

.profile-image {
            max-width: 50%; /* Définissez la largeur maximale souhaitée */
            height: 100px; /* Gardez le ratio hauteur-largeur */
        }

        .profile-container {
            background-color: #fff;
            margin: 20px auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            max-width: 600px;
            text-align: left;
        }

        .profile-container p {
            margin: 5px 0;
        }

        .profile-container img.profile-image {
            max-width: 100px;
            border-radius: 50%;
            margin-top: 10px;
        }

.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.top {
    margin-bottom: 20px;
}

.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    text-decoration: underline;
}

header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    padding-left: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-input-placeholder {
    color: #fff;
}

.register-container, .login-container {
    width: 100%;
    padding: 0 20px;
}

.register-container .two-forms {
    flex-direction: column;
    gap: 0;
}



.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    padding-left: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}

.two-col .one {
    display: flex;
    gap: 5px;
}

.two label a {
    text-decoration: none;
    color: #fff;
}

.two label a:hover {
    text-decoration: underline;
}

.nav-menu.responsive {
    top: 100px;
}

.nav-menu {
    position: absolute;
    top: -800px;
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(20px);
    transition: .3s;
}

.nav-menu ul {
    flex-direction: column;
    text-align: center;
}

.nav-menu-btn {
    display: block;
}

.nav-menu-btn i {
    font-size: 25px;
    color: #fff;
    padding: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.nav-menu-btn i:hover {
    background: rgba(255, 255, 255, 0.15);
}

/* ---- personal-account.php : Icon bar ---- */
.account_icon_bar{
    display: inline-block;
    position: absolute;
    top: 100px; /* 70px du nav + 30px margin*/
    left: 0;
}

.account_icon_bar a{
    display: block;
    padding: 30px 15px 30px 15px;

    text-decoration: none;
    text-align: center;
    color: white;
    background-color: rgba(0,0,0,0.6);
    transition: all 0.3s ease;
}

.account_icon_bar a#first_menu{
    border-radius: 0px 30px 0px 0px;
    border: solid rgb(50, 50, 50);
    border-width:  0px 0px 3px 0px;
}
.account_icon_bar a#middle_menu{
    border: solid rgb(50, 50, 50);
    border-width:  3px 0px 3px 0px;
}
.account_icon_bar a#last_menu{
    border-radius: 0px 0px 30px 0px;
    border: solid rgb(50, 50, 50);
    border-width:  3px 0px 0px 0px;
}

.account_icon_bar a:hover{
    background-color: rgba(255,192,203,0.8); /*same pink as the logo*/
}
