* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
    flex-direction: column;
}

h1 {
    color: #fff;
    margin-bottom: 20px;
}

.profile-container {
    background-color: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    text-align: left;
}

.profile-container p {
    margin: 5px 0;
}

.profile-container img.profile-image {
    max-width: 100px;
    border-radius: 50%;
    margin-top: 10px;
}
