* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url('Images/Background_images.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto;
}

.nav{
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    padding-right: 2%;
    padding-left: 2%;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}

.nav-logo{
    display: flex;
    padding: 0;
    margin : 0;
    height: 100%;
}

.nav-logo img{
    height: 100%;
    cursor: pointer;
}

.nav-menu{
    display: flex;
}

.nav .menu-profile-picture{
    display : flex;
    height: 100%;
    margin-right: 20px;
}
.nav .menu-profile-picture img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.nav .menu-btn {
    display: inline-block;
    cursor: pointer;
    align-items: center;
}

.bar1, .bar2, .bar3 {
    width: 70px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    margin: 10px 0;
    transition: 0.70s;
}

.responsive .bar1 {
    transform: translate(0px, 20px) rotate(45deg);
}
.responsive .bar2 {
    transform: translate(-70px, 0);
    opacity: 0;
}
.responsive .bar3 {
    transform: translate(0px, -20px) rotate(-45deg); /*translate(0, 0px) */
}

.nav-menu ul li{
    list-style-type: none;
}

.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding-bottom: 15px;
    margin: 0 25px;
}

.link:hover, .active{
    border-bottom: 2px solid #fff;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}

.btn.white-btn{
    background: rgba(255, 255, 255, 0.7);
}

.btn.btn.white-btn:hover{
    background: rgba(255, 255, 255, 0.5);
}

.nav-menu-btn{
    display: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(39, 39, 39, 0.4);
}

.form-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.input-box {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    padding-left: 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 10px 0;
}

.profile-image {
            max-width: 50%; /* Définissez la largeur maximale souhaitée */
            height: 100px; /* Gardez le ratio hauteur-largeur */
        }
select.input-field {
           color: black;
       }

select.input-field option {
           color: black;
       }
